*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/rxbus-annotations/build
*.txt
/rxbus-compiler/build
/rxbus/build
/rxbus-compiler/src/main/java/vite/rxbus/compiler/TestPrinter.java
/exampleTest/
/demo/src/main/java/vite/demo/MainActivity$$Binder.java
/projectFilesBackup/
/rxbus-compiler/src/main/java/vite/rxbus/compiler/TestPrinter.java
